.App {
  text-align: center;
}
.header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.selection div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.selection button {
  font-size: calc(10px + 3vmin);
  padding: 10px;
  margin: 20px;
  border-radius: 100px;
  width: 110px;
}
.selection .selected {
  filter: hue-rotate(275deg);
}
.sizes button {
  background: yellow;
}
.difficulties button {
  width: 150px;
  background: orange;
}
.operators button {
  background: red;
}
.selection .start {
  background: chocolate;
  margin-top: 12vh;
  font-size: calc(10px + 5vmin);
  width: 40vw;
}
button:active{
  background:olive;
}

.map {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  border: 6px solid darkslategray;
  width: fit-content;
}
.map .box {
  height: 60px;
  width: 60px;
  background: darkcyan;
  /* margin: 2px; */
  border: 2px solid black;
}
.map .box.open-right{
  border-right: 2px solid #00ffff21;
}
.map .box.open-left{
  border-left: 2px solid #00ffff21;
}
.map .box.open-down{
  border-bottom: 2px solid #00ffff21;
}
.map .box.open-up{
  border-top: 2px solid #00ffff21;
}
.map .box.open-vertical{
  border-top: 2px solid #00ffff21;
  border-bottom: 2px solid #00ffff21;
}
.map .box.open-horizontal{
  border-left: 2px solid #00ffff21;
  border-right: 2px solid #00ffff21;
}
.map .selectedBox {
  background: lightskyblue;
}
.map .box:focus-visible {
  outline: none;
}
.map .row .cage {
  width: 20px;
  height: 20px;
  font-size: calc(5px + 2vmin)
}
.row {
  flex-direction: column;
}